@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "base/functions";

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,html{
	font-size: $base-font;
}

.constrain{
	width: 100%;
	max-width: 1160px;
}

@import "common/topDripForm";