<section class="notFound constrain">

	<div class="notFound__content">
		
		<div class="notFound__content-wrapper">
			<h1 class="notFound__content-error">Oops, something has gone wrong</h1>
			<p class="notFound__content-message">Proin eu lacus ornare neque finibus vehicula commodo vitae nibh. Cras vitae diam faucibus, convallis augue at, tincidunt sem. Quisque pretium, lorem non sagittis consectetur.</p>

			<a href="/" class="notFound__content-button">Go to our homepage</a>
		</div>

	</div>

</section>