<section class="bottomDripForm">
	
	<div class="bottomDripForm__inner">

		<div class="bottomDripForm__block">
			
			<div class="bottomDripForm__content">
		
				<div class="bottomDripForm__content-top">
					<img src="{{ assets }}/images/iPad-gold-small.png" alt="" class="bottomDripForm__content-top-image">
					<div class="bottomDripForm__content-title">The Perfect Popup Template</div>
					<div class="bottomDripForm__content-text">Discover 7 Ways to Capture More Emails Without Being Annoying or Douchy</div>
				</div><!--
				--><div class="bottomDripForm__content-formContainer">
					
					<form class="bottomDripForm__form">
						
						<div class="bottomDripForm__form-block">
							<label for="name" class="bottomDripForm__form-block-label">First name</label>
							<input type="text" name="name" id="name" class="bottomDripForm__form-block-input" placeholder="First name">
						</div><!--
						--><div class="bottomDripForm__form-block">
							<label for="email" class="bottomDripForm__form-block-label">Email address</label>
							<input type="email" name="email" id="email" class="bottomDripForm__form-block-input bottomDripForm__form-block-input--email" placeholder="Email address">
						</div><!--
						--><div class="bottomDripForm__form-block bottomDripForm__form-block--button">
							<input type="submit" value="Download Now" class="bottomDripForm__form-block-button">
						</div>

					</form>

				</div>

			</div><!-- CONTENT END -->

		</div><!-- BLOCK END -->

	</div> <!-- INNER END -->

</section> <!-- Bottom DRIP FORM END -->