<section class="callToAction">
    <div class="callToAction-content">
        <h2 class="callToAction-title">{{ layout.title }}</h2>
        <div class="callToAction-text">
            {{ layout.text }}
        </div>
    </div>
</section>