<section class="callToAction">
    <div class="callToAction-content">
        <div class="callToAction-text">

            {% if (layout.custom) %}
                {{ layout.text }}
            {% else %}
                {{ site_settings.default_cta_content }}
            {% endif %}

        </div>
    </div>
</section>
