<section class="latestContentHome">
	
	<div class="latestContentHome__block latestContentHome__block--episode">
		
		<div class="latestContentHome__block-label latestContentHome__block-label--episode">Episode 118</div>
		<img src="{{ assets }}/images/episode-118.png" alt="Episode 118" class="latestContentHome__block-image">

		<div class="latestContentHome__block-textWrapper">
			<h2 class="latestContentHome__block-title"><a href="/episode" class="latestContentHome__block-title-link">3 Facebook Ad Hacks Everyone Should Steal from Andrew Foxwell</a></h2>
			<p class="latestContentHome__block-text">In this week’s episode, we share some of the big discoveries we’ve made on Facebook. As you know, Facebook changes quickly and this episode is designed to give you a flash briefing on what is currently working for our clients.</p>
		</div>

	</div><!--  ITEM BLOCK END -->

	<div class="latestContentHome__block latestContentHome__block--article">
		
		<div class="latestContentHome__block-label latestContentHome__block-label--article">Article</div>
		<img src="{{ assets }}/images/article.png" alt="Episode 118" class="latestContentHome__block-image">

		<div class="latestContentHome__block-textWrapper">
			<h2 class="latestContentHome__block-title"><a href="/episode" class="latestContentHome__block-title-link">“Un-Networking” or How (and Why) Successful People Become More Successful</a></h2>
			<p class="latestContentHome__block-text">The other day I saw a book about networking called “Coffee, Lunch, Coffee”. I only read the title and I was already exhausted. The problem with most “networking experts” is they focus on the wrong things.</p>
		</div>

	</div><!--  ITEM BLOCK END -->

	<div class="latestContentHome__block latestContentHome__block--episode">
		
		<div class="latestContentHome__block-label latestContentHome__block-label--episode">Episode 117</div>
		<img src="{{ assets }}/images/episode-117.png" alt="Episode 118" class="latestContentHome__block-image">

		<div class="latestContentHome__block-textWrapper">
			<h2 class="latestContentHome__block-title"><a href="/episode" class="latestContentHome__block-title-link">Confessions of Podcast Procrastinator (We’re Back!)</a></h2>
			<p class="latestContentHome__block-text">In this week’s episode, we share some of the big discoveries we’ve made on Facebook. As you know, Facebook changes quickly and this episode is designed to give you a flash briefing on what is currently working for our clients. </p>
		</div>

	</div><!--  ITEM BLOCK END -->

</section>