<div class="sidebar">
	
	<div class="sidebar__formBlock">

		<div class="sidebar__formBlock-wrapper">
			
			<div class="sidebar__formBlock-top">
				<img src="{{ assets }}/images/tablet-small.png" alt="Form Image" class="sidebar__formBlock-image sidebar__formBlock-image--small">
				<img src="{{ assets }}/images/tablet-medium.png" alt="Form Image" class="sidebar__formBlock-image sidebar__formBlock-image--medium">

				<h3 class="sidebar__formBlock-formTitle">The “Perfect Popup” Template</h3>
				<p class="sidebar__formBlock-formText">Discover 7 Ways to Capture More Emails Without Being Annoying or Douchy</p>
			</div>

			<form class="sidebar__formBlock-form">
				
				<div class="sidebar__formBlock-form-block">
					<label for="firstName"></label>
					<input type="text" name="firstName" id="firstName" class="sidebar__formBlock-form-block-input" placeholder="First name">
				</div>
				<div class="sidebar__formBlock-form-block">
					<label for="email"></label>
					<input type="email" name="email" id="email" class="sidebar__formBlock-form-block-input" placeholder="Email address">
				</div>
				<div class="sidebar__formBlock-form-block sidebar__formBlock-form-block--button">
					<input type="submit" value="Download now" class="sidebar__formBlock-form-block-button">
				</div>

			</form>

		</div><!-- WRAPPER END -->

	</div><!-- FORM BLOCK END -->

	<div class="sidebar__profiles">
		
		<div class="sidebar__profiles-profile" style="background-image: url('{{ assets }}/images/foxwell.png')">
			<p class="sidebar__profiles-profile-context">Work with</p>
			<p class="sidebar__profiles-profile-name"><span class="sidebar__profiles-profile-name-first">Andrew</span> <span class="sidebar__profiles-profile-name-last">Foxwell</span></p>
		</div>
		<div class="sidebar__profiles-profile" style="background-image: url('{{ assets }}/images/brawner.png')">
			<p class="sidebar__profiles-profile-context">Work with</p>
			<p class="sidebar__profiles-profile-name"><span class="sidebar__profiles-profile-name-first">Austin</span> <span class="sidebar__profiles-profile-name-last">Brawner</span></p>
		</div>

	</div><!-- PROFILES END -->

	<div class="sidebar__latest">
		
		<div class="sidebar__latest-block">
			
			<div class="sidebar__latest-block-label sidebar__latest-block-label--episode"><span class="sidebar__latest-block-label-text">Episode 118</span></div>
			<a href="/episode" class="sidebar__latest-block-title">Confessions of a Podcast Procrastinator (We’re Back!)</a>

		</div>
		<div class="sidebar__latest-block">
			
			<div class="sidebar__latest-block-label sidebar__latest-block-label--article"><span class="sidebar__latest-block-label-text">Article</span></div>
			<a href="/episode" class="sidebar__latest-block-title">How to get a 10x return on adspend with Facebook Advertising</a>

		</div>
		<div class="sidebar__latest-block">
			
			<div class="sidebar__latest-block-label sidebar__latest-block-label--episode"><span class="sidebar__latest-block-label-text">Episode 117</span></div>
			<a href="/episode" class="sidebar__latest-block-title">4 Profitable Email Strategies You Can Swipe for Your Brand</a>

		</div>
		
		<div class="sidebar__latest-all">
			<a href="/episodes" class="sidebar__latest-all-link">See all content</a>				
		</div>

	</div><!-- LATEST END -->

</div><!-- SIDEBAR END -->