<div class="popUpTemplate__wrapper">
	<div class="popUpTemplate__formBlock">

		<div class="popUpTemplate__formBlock-wrapper">
			
			<div class="popUpTemplate__formBlock-top">
				<img src="{{ assets }}/images/tablet-medium.png" alt="Form Image" class="popUpTemplate__formBlock-image popUpTemplate__formBlock-image">

				<h3 class="popUpTemplate__formBlock-formTitle"><span class="popUpTemplate__formBlock-formTitle-text">The “Perfect Popup” Template</span></h3>
				<p class="popUpTemplate__formBlock-formText">Discover 7 Ways to Capture More Emails Without Being Annoying or Douchy</p>
			</div><!--
			--><form class="popUpTemplate__formBlock-form">
				
				<div class="popUpTemplate__formBlock-form-block">
					<label for="firstName"></label>
					<input type="text" name="firstName" id="firstName" class="popUpTemplate__formBlock-form-block-input" placeholder="First name">
				</div>
				<div class="popUpTemplate__formBlock-form-block">
					<label for="email"></label>
					<input type="email" name="email" id="email" class="popUpTemplate__formBlock-form-block-input" placeholder="Email address">
				</div>
				<div class="popUpTemplate__formBlock-form-block popUpTemplate__formBlock-form-block--button">
					<input type="submit" value="Download now" class="popUpTemplate__formBlock-form-block-button">
				</div>

			</form>

		</div><!-- WRAPPER END -->

	</div><!-- FORM BLOCK END -->
</div><!-- WRAPPER END -->