<section class="relatedContent">
	
	<div class="relatedContent__inner constrain">
		
		<div class="relatedContent__topBar">
			
			<h2 class="relatedContent__topBar-title">Related Content</h2><!--
			--><div class="relatedContent__topBar-pagination">

				<ul class="relatedContent__topBar-pagination-buttons">
					<li class="relatedContent__topBar-pagination-button">
						<a href="" class="relatedContent__topBar-pagination-button-link relatedContent__topBar-pagination-button-link--left relatedContent__topBar-pagination-button-link--left--first"></a>
					</li><!--
					--><li class="relatedContent__topBar-pagination-button">
						<a href="" class="relatedContent__topBar-pagination-button-link relatedContent__topBar-pagination-button-link--right"></a>
					</li>		
				</ul>

			</div>

		</div><!-- TOP BAR END -->

	</div><!-- INNER END -->

</section><!-- RELATED END -->