<section class="homePage-sidebar">
	
	<div class="sidebar">
		
		<div class="sidebar__latest">
			
			<div class="sidebar__latest-block">
				
				<div class="sidebar__latest-block-label sidebar__latest-block-label--episode"><span class="sidebar__latest-block-label-text">Episode 118</span></div>
				<a href="" class="sidebar__latest-block-title">Confessions of a Podcast Procrastinator (We’re Back!)</a>

			</div>
			<div class="sidebar__latest-block">
				
				<div class="sidebar__latest-block-label sidebar__latest-block-label--article"><span class="sidebar__latest-block-label-text">Article</span></div>
				<a href="" class="sidebar__latest-block-title">How to get a 10x return on adspend with Facebook Advertising</a>

			</div>
			<div class="sidebar__latest-block">
				
				<div class="sidebar__latest-block-label sidebar__latest-block-label--episode"><span class="sidebar__latest-block-label-text">Episode 117</span></div>
				<a href="" class="sidebar__latest-block-title">4 Profitable Email Strategies You Can Swipe for Your Brand</a>

			</div>
			
			<div class="sidebar__latest-all">
				<a href="" class="sidebar__latest-all-link">See all content</a>				
			</div>

		</div><!-- LATEST END -->

	</div><!-- SIDEBAR END -->

</section><!-- HOME-PAGE SIDEBAR END -->