<section class="homePage-sidebar">
	
	<div class="sidebar">
		
		<div class="sidebar__latest">
			
			<div class="sidebar__latest-block">
				
				<div class="sidebar__latest-block-label sidebar__latest-block-label--episode"><span class="sidebar__latest-block-label-text">Episode 118</span></div>
				<a href="" class="sidebar__latest-block-title">Confessions of a Podcast Procrastinator (We’re Back!)</a>

			</div>
			<div class="sidebar__latest-block">
				
				<div class="sidebar__latest-block-label sidebar__latest-block-label--article"><span class="sidebar__latest-block-label-text">Article</span></div>
				<a href="" class="sidebar__latest-block-title">How to get a 10x return on adspend with Facebook Advertising</a>

			</div>
			<div class="sidebar__latest-block">
				
				<div class="sidebar__latest-block-label sidebar__latest-block-label--episode"><span class="sidebar__latest-block-label-text">Episode 117</span></div>
				<a href="" class="sidebar__latest-block-title">4 Profitable Email Strategies You Can Swipe for Your Brand</a>

			</div>
			
			<div class="sidebar__latest-all">
				<a href="" class="sidebar__latest-all-link">See all content</a>				
			</div>

		</div><!-- LATEST END -->

		<div class="sidebar__profiles">
			
			<div class="sidebar__profiles-profile" style="background-image: url('{{ assets }}/images/foxwell.png')">
				<p class="sidebar__profiles-profile-context">Work with</p>
				<p class="sidebar__profiles-profile-name"><span class="sidebar__profiles-profile-name-first">Andrew</span> <span class="sidebar__profiles-profile-name-last">Foxwell</span></p>
			</div>
			<div class="sidebar__profiles-profile" style="background-image: url('{{ assets }}/images/brawner.png')">
				<p class="sidebar__profiles-profile-context">Work with</p>
				<p class="sidebar__profiles-profile-name"><span class="sidebar__profiles-profile-name-first">Austin</span> <span class="sidebar__profiles-profile-name-last">Brawner</span></p>
			</div>

		</div><!-- PROFILES END -->

		<div class="sidebar__formBlock">
			
			<img src="{{ assets }}/images/mouse-form.svg" alt="Form Image" class="sidebar__formBlock-image">

			<h3 class="sidebar__formBlock-formTitle">Pop up converter</h3>
			<p class="sidebar__formBlock-formText">Proin nunc ipsum, pretium in vehicula vitae.</p>

			<form class="sidebar__formBlock-form">
				
				<div class="sidebar__formBlock-form-block">
					<label for="firstName"></label>
					<input type="text" name="firstName" id="firstName" class="sidebar__formBlock-form-block-input" placeholder="First name">
				</div>
				<div class="sidebar__formBlock-form-block">
					<label for="email"></label>
					<input type="email" name="email" id="email" class="sidebar__formBlock-form-block-input" placeholder="Email address">
				</div>
				<div class="sidebar__formBlock-form-block sidebar__formBlock-form-block--button">
					<input type="text" value="Sign up now" class="sidebar__formBlock-form-block-button">
				</div>

			</form>

		</div><!-- FORM BLOCK END -->

		<div class="sidebar__testimonial" style="background-image: url('{{ assets }}/images/testimonial.png')">
			
			<div class="sidebar__testimonial-blue">
				
				<div class="sidebar__testimonial-blue-wrapper">
					<!-- <p class="sidebar__testimonial-blue-text">"Much of what helped MVMT grow to over $10 million in sales, I learned from Austin."</p> -->
				
					<p class="sidebar__testimonial-blue-text">"Much of what helped MVMT</p>
					<p class="sidebar__testimonial-blue-text">grow to over $10 million in </p>
					<p class="sidebar__testimonial-blue-text">sales, I learned from Austin."</p>

					<p class="sidebar__testimonial-blue-details">Jake Kassan, CEO MVMT Watches</p>

					<a href="" class="sidebar__testimonial-blue-button">Live Workshop</a>
				</div>

			</div><!-- BLUE END -->

		</div><!-- TESTIMONIAL END -->

	</div><!-- SIDEBAR END -->

</section><!-- HOME-PAGE SIDEBAR END -->