<section class="stories">
	
	<div class="stories__top">
		
		<div class="stories__top-contentWrapper constrain">
			
			<div class="stories__top-heading">Letting others tell our story</div>
			<p class="stories__top-text">Curabitur nec porta sapien. Curabitur at posuere tellus. Donec vehicula dictum tortor ac egestas. Curabitur metus nulla, facidivsis et libero ut, porttitor fringilla augue. Donec tincidunt bibendum ullamcorper. </p>

		</div><!-- TOP WRAPPER END -->

	</div><!-- TOP END -->

	<div class="stories__bottom">
		
		<div class="stories__bottom-contentWrapper">
			
			<div class="stories__bottom-carousel">
				
				<div class="stories__bottom-carousel-item">
					
					<div class="stories__bottom-carousel-item-contentWrapper">
						<p class="stories__bottom-carousel-item-text">Suspendisse feugiat sem id justo cursus fringilla. Suspendisse nec ante bibendum, porttitor diam ut, porta dolor. In sit amet dui risus. Phasellus eget nulla ut neque pretium adivquet eu at magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						<p class="stories__bottom-carousel-item-details"><span class="stories__bottom-carousel-item-details-person">Jo Smith, </span><span class="stories__bottom-carousel-item-details-company">EcommerceWorld.com</span></p>
					</div>

				</div><!--
				--><div class="stories__bottom-carousel-item">
					
					<div class="stories__bottom-carousel-item-contentWrapper">
						<p class="stories__bottom-carousel-item-text">Suspendisse feugiat sem id justo cursus fringilla. Suspendisse nec ante bibendum, porttitor diam ut, porta dolor. In sit amet dui risus.</p>
						<p class="stories__bottom-carousel-item-details"><span class="stories__bottom-carousel-item-details-person">Jo Smith, </span><span class="stories__bottom-carousel-item-details-company">EcommerceWorld.com</span></p>
					</div>

				</div><!--
				--><div class="stories__bottom-carousel-item">
					
					<div class="stories__bottom-carousel-item-contentWrapper">
						<p class="stories__bottom-carousel-item-text">Suspendisse feugiat sem id justo cursus fringilla. Suspendisse nec ante bibendum, porttitor diam ut, porta dolor. In sit amet dui risus. Phasellus eget nulla ut neque pretium adivquet eu at magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						<p class="stories__bottom-carousel-item-details"><span class="stories__bottom-carousel-item-details-person">Jo Smith, </span><span class="stories__bottom-carousel-item-details-company">EcommerceWorld.com</span></p>
					</div>

				</div>

			</div>
			
			<div class="stories__bottom-buttonsWrapper">

				<ul class="stories__bottom-buttons">
					<li class="stories__bottom-buttons-button">
						<a href="" class="stories__bottom-buttons-button-link stories__bottom-buttons-button-link--left"></a>
					</li><!--
					--><li class="stories__bottom-buttons-button">
						<a href="" class="stories__bottom-buttons-button-link stories__bottom-buttons-button-link--right"></a>
					</li>		
				</ul>
				
			</div>

		</div><!-- BOTTOM WRAPPER END -->

	</div><!-- BOTTOM END -->

</section><!-- STORIES END -->

