<section class="stories">
	
	<div class="stories__top">
		
		<div class="stories__top-contentWrapper constrain">
			
			<div class="stories__top-heading">Letting others tell our story</div>
			<p class="stories__top-text">Curabitur nec porta sapien. Curabitur at posuere tellus. Donec vehicula dictum tortor ac egestas. Curabitur metus nulla, facilisis et libero ut, porttitor fringilla augue. Donec tincidunt bibendum ullamcorper. </p>

		</div><!-- TOP WRAPPER END -->

	</div><!-- TOP END -->

	<div class="stories__bottom">
		
		<div class="stories__bottom-contentWrapper">
			
			<ul class="stories__bottom-carousel">
				
				<li class="stories__bottom-carousel-item">
					
					<div class="stories__bottom-carousel-item-contentWrapper">
						<p class="stories__bottom-carousel-item-text">Suspendisse feugiat sem id justo cursus fringilla. Suspendisse nec ante bibendum, porttitor diam ut, porta dolor. In sit amet dui risus. Phasellus eget nulla ut neque pretium aliquet eu at magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						<p class="stories__bottom-carousel-item-details"><span class="stories__bottom-carousel-item-details-person">Jo Smith, </span><span class="stories__bottom-carousel-item-details-company">EcommerceWorld.com</span></p>
					</div>

				</li><!--
				--><li class="stories__bottom-carousel-item">
					
					<div class="stories__bottom-carousel-item-contentWrapper">
						<p class="stories__bottom-carousel-item-text">Suspendisse feugiat sem id justo cursus fringilla. Suspendisse nec ante bibendum, porttitor diam ut, porta dolor. In sit amet dui risus.</p>
						<p class="stories__bottom-carousel-item-details"><span class="stories__bottom-carousel-item-details-person">Jo Smith, </span><span class="stories__bottom-carousel-item-details-company">EcommerceWorld.com</span></p>
					</div>

				</li><!--
				--><li class="stories__bottom-carousel-item">
					
					<div class="stories__bottom-carousel-item-contentWrapper">
						<p class="stories__bottom-carousel-item-text">Suspendisse feugiat sem id justo cursus fringilla. Suspendisse nec ante bibendum, porttitor diam ut, porta dolor. In sit amet dui risus. Phasellus eget nulla ut neque pretium aliquet eu at magna. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						<p class="stories__bottom-carousel-item-details"><span class="stories__bottom-carousel-item-details-person">Jo Smith, </span><span class="stories__bottom-carousel-item-details-company">EcommerceWorld.com</span></p>
					</div>

				</li>

			</ul><!-- CAROUSEL END -->

		</div><!-- BOTTOM WRAPPER END -->

	</div><!-- BOTTOM END -->

</section><!-- STORIES END -->