<section class="stories">
	
	<div class="stories__top">
		
		<div class="stories__top-contentWrapper constrain">
			
			<div class="stories__top-heading">Letting others tell our story</div>
			<p class="stories__top-text">Curabitur nec porta sapien. Curabitur at posuere tellus. Donec vehicula dictum tortor ac egestas. Curabitur metus nulla, facilisis et libero ut, porttitor fringilla augue. Donec tincidunt bibendum ullamcorper. </p>

		</div>

	</div>

</section><!-- STORIES END -->