.masthead{
	position: relative;
	width: 100%;
	min-height: 80px;

	border-top: 1px solid white;
	background-color: $text-blue;
}
.masthead__inner{
	position: relative;
	width: 100%;

	padding: 12px 40px;

	&.responsive-open-search-active{
		padding: 12px;
	}
}
.masthead__left,
.masthead__right,
.masthead__right-nav,
.masthead__right-search,
.masthead__right-nav-items-item{
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.masthead__left{
	position: relative;
	width: 266px;

	@include screen-lt(600){
		width: 38px;
	}

	&.responsive-open-search-active{
		width: 0;
	}
}
.masthead__left-logo-image{
	display: block;

	@include screen-lt(600){
		display: none;
	}

	&--responsive{
		display: none;

		@include screen-lt(600){
			display: block;
		}
	}
}
.masthead__right{
	position: relative;
	width: calc(100% - 266px);
	text-align: right;

	@include screen-lt(600){
		width: calc(100% - 38px);
	}

	&.responsive-open-search-active{
		width: 100%;
		text-align: center;
	}
}
.masthead__right-nav{
	@include screen-lt(1250){
		display: none;
	}
}
.masthead__right-nav-items{
	margin: 0;
	padding: 0;
}
.masthead__right-nav-items-item{

	&+.masthead__right-nav-items-item{
		padding-left:40px;
	}
}
.masthead__right-nav-items-item-link{
	font-family: $brandon;
	font-weight: 900;

	font-size: px-to-ems(15);
	color: white;
	line-height: px-to-ems(15,15);

	text-transform: uppercase;

	@include transition();
	
	&:hover{
		color: $primary-yellow;
	}

	&--button{
		padding: 9px 21px;

		color: $primary-yellow;
		border: 3px solid $primary-yellow;

		&:hover{
			background-color: $primary-yellow;
			color: $text-blue;
		}
	}

	&--active{
		color: $primary-yellow;
	}
}

//SEARCH
.masthead__right-search{
	position: relative;

	min-width: 280px;
	margin-left: 40px;

	opacity: 1;

	@include transition();

	@include screen-lt(1250){
		margin: 10px;
	}

	@include screen-lt(768){
		display: none;

		&.responsive-open-search-active{
			margin: 6px;
			display: inline-block;
			min-width: auto;
			width: calc(100% - 40px);

			@include screen-lt(400){
				text-align: left;
			}
		}
	}	
}
.masthead__right-search-input,
.masthead__right-search-button{
	display: inline-block;
	vertical-align: middle;
}
.masthead__right-search-input{
	width: calc(100% - 38px);
	min-width: 280px;

	margin-right: -25px;
	padding: 0;
	padding-left: 10px;
	padding-right: 40px;

	border-bottom: 2px solid $text-purple;
	font-family: $brandon;
	font-weight: 600;

	font-size: px-to-ems(20);
	line-height: px-to-ems(29,20);
	color: white;
	letter-spacing: 0;

	@include transition();

	&::placeholder{
		color: $text-purple;

		@include transition();
		
		@include screen-lt(400){
			font-size: px-to-ems(14);
			line-height: px-to-ems(22,14);
		}
	}

	&:hover,
	&:focus{

		border-bottom: 2px solid $primary-yellow;

		&::placeholder{
			color: $primary-yellow;
		}
	}	

	&.responsive-open-search-active{
		
		@include screen-lt(360){
			min-width: auto;
			width: 240x;
		}

		@include screen-lt(330){
			padding-left: 5px;
		}
	}
}
.masthead__right-search-button{
	position: relative;
	left: -15px;

	width: 38px;
	height: 38px;

	z-index: 5;

	background-image: url(../images/search.svg);
	background-repeat: no-repeat;
	background-position: center center;

	cursor: pointer;	
}

.masthead__right-openSearch{
	position: relative;
	margin-right: 20px;

	display: none;
	width: 38px;
	height: 38px;

	@include screen-lt(768){
		display: inline-block;
		vertical-align: middle;
	}
}
.masthead__right-openSearch-button{
	position: relative;
	left: 0;

	display: block;
	width: 38px;
	height: 38px;

	z-index: 15;

	border-radius: 5px;
	background-color: $light-blue;
	background-image: url(../images/search.svg);
	background-repeat: no-repeat;
	background-position: center center;

	cursor: pointer;
}
.masthead__right-closeSearch{
	position: relative;
	
	display: none;
	vertical-align: middle;
	width: 20px;

	&.responsive-open-search-active{
		display: inline-block;
	}
}
.masthead__right-responsive-closeSearch-cross{
	position: relative;

	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 14px;
	
	span{
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: white;
		border-radius: 25%;
		opacity: 1;
		left: 0;
	}

	span:nth-child(1) {
	  top: 5px;
	  transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	  -moz-transform: rotate(135deg);
	  -o-transform: rotate(135deg);
	  -ms-transform: rotate(135deg);
	  transition: none;
	}

	span:nth-child(2) {
	  top: 5px;
	  transform: rotate(-135deg);			  
	  -webkit-transform: rotate(-135deg);
	  -moz-transform: rotate(-135deg);
	  -o-transform: rotate(-135deg);
	  -ms-transform: rotate(-135deg);
	}
}
/*==================================================
=            LEGACY BROWSER PLACEHOLDER            =
==================================================*/

.masthead__right-search-input:-ms-input-placeholder{
	color: $text-purple !important;
}
.masthead .placeholder{
	color: $text-purple !important;
}

/*=====  End of LEGACY BROWSER PLACEHOLDER  ======*/

.masthead__right-responsive{
	display: none;

	@include screen-lt(1250){
		display: inline-block;
		vertical-align: middle;
	}
}
.masthead__right-responsive-link{
	position: relative;
	display: inline-block;
	vertical-align: middle;

	font-family: $brandon;
	font-weight: 900;

	font-size: px-to-ems(15);
	color: white;
	line-height: px-to-ems(15,16);

	text-transform: uppercase;

	@include transition();
	
	&-text{
		display: inline-block;
		vertical-align: bottom;	
	}
	&-hamburger{
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		width: 20px;
		height: 14px;
		margin-left: 6px;
		
		@include transition();
		span{
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: white;
			border-radius: 25%;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			@include transition();
		}
		span:nth-child(1) {
		  top: 0px;
		}

		span:nth-child(2) {
		  top: 5px;
		}

		span:nth-child(3) {
		  top: 10px;
		}
	}

	&.active {
		.masthead__right-responsive-link-hamburger{
			span:nth-child(1) {
			  top: 5px;
			  transform: rotate(135deg);
			  -webkit-transform: rotate(135deg);
			  -moz-transform: rotate(135deg);
			  -o-transform: rotate(135deg);
			  -ms-transform: rotate(135deg);
			}

			span:nth-child(2) {
			  opacity: 0;
			  top: 0px;
			  transform: rotate(135deg);
			  -webkit-transform: rotate(135deg);
			  -moz-transform: rotate(135deg);
			  -o-transform: rotate(135deg);
			  -ms-transform: rotate(135deg);
			  transition: none;
			}

			span:nth-child(3) {
			  top: 5px;
			  transform: rotate(-135deg);			  
			  -webkit-transform: rotate(-135deg);
			  -moz-transform: rotate(-135deg);
			  -o-transform: rotate(-135deg);
			  -ms-transform: rotate(-135deg);
			}
		}
	}

	&:hover{
		color: $primary-yellow;

		.masthead__right-responsive-link-hamburger{
			span{
				background: $primary-yellow;
			}
		}
	}
}

/*=============================================
=            RESPONSIVE NAVIGATION            =
=============================================*/

.responsive-nav-wrapper{
	position: relative;
	height: 100%;
	width: 100%;
}

.masthead__nav-responsive{
	position: fixed;
	left: 0;
	padding-bottom: 50px;

	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;
	z-index: 5;

	overflow: scroll;

	text-align: center;

	@include transition(opacity);

	&:after{
		content: "";
		position: fixed;
		top: inherit;
		left: 0;
		
		width: 100%;
		height: inherit;

		background-color: $text-blue;
		opacity: 0.95;
		z-index: -5;
	}
}

.masthead__nav-responsive-items{
	margin-top: 10px;
}
.masthead__nav-responsive-items-item{
	position: relative;
	margin-top: 35px;

	&--button{
		margin-top: 44px;
	}
}
.masthead__nav-responsive-items-item-link{
	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(20);
	line-height: px-to-ems(15,20);
	color: white;

	text-transform: uppercase;

	&--button{
		padding: 9px 21px;

		color: $primary-yellow;
		border: 3px solid $primary-yellow;
		
		@include transition();

		&:hover{
			background-color: $primary-yellow;
			color: $text-blue;
		}
	}
}
/*=====  End of RESPONSIVE NAVIGATION  ======*/

