.masthead{
	position: relative;
	width: 100%;
	min-height: 80px;

	border-top: 1px solid white;
	background-color: $text-blue;
}
.masthead__inner{
	position: relative;
	width: 100%;

	padding: 12px 40px;
}
.masthead__left,
.masthead__right,
.masthead__right-nav,
.masthead__right-search,
.masthead__right-nav-items-item{
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.masthead__left{
	position: relative;
	width: 266px;
}
.masthead__right{
	position: relative;
	width: calc(100% - 266px);
	text-align: right;
}
.masthead__right-nav{
	@include screen-lt(1250){
		display: none;
	}
}
.masthead__right-nav-items{
	margin: 0;
	padding: 0;
}
.masthead__right-nav-items-item{

	&+.masthead__right-nav-items-item{
		padding-left:40px;
	}
}
.masthead__right-nav-items-item-link{
	font-family: $brandon;
	font-weight: 900;

	font-size: px-to-ems(15);
	color: white;
	line-height: px-to-ems(15,15);

	text-transform: uppercase;

	@include transition();

	&:hover{
		color: $primary-yellow;
	}

	&--button{
		padding: 9px 21px;

		color: $primary-yellow;
		border: 3px solid $primary-yellow;

		&:hover{
			background-color: $primary-yellow;
			color: $text-blue;
		}
	}
}
.masthead__right-search{
	min-width: 280px;
	margin-left: 40px;

	@include screen-lt(1250){
		margin: 10px;
	}
}
.masthead__right-search-input{
	width: 100%;
	padding-left: 10px;

	font-family: $brandon;
	font-weight: 600;

	font-size: px-to-ems(20);
	line-height: px-to-ems(29,20);
	color: white;
	letter-spacing: 0;

	border-bottom: 2px solid $text-purple;

	background-image: url(../images/search.svg);
	background-repeat: no-repeat;
	background-position: right 10px center;

	cursor: pointer;

	@include transition();

	&::placeholder{
		color: $text-purple;

		@include transition();
	}

	&:hover,
	&:focus{
		border-bottom: 2px solid $primary-yellow;

		&::placeholder{
			color: $primary-yellow;
		}
	}
		
}

/*==================================================
=            LEGACY BROWSER PLACEHOLDER            =
==================================================*/

.masthead__right-search-input:-ms-input-placeholder{
	color: $text-purple !important;
}
.masthead .placeholder{
	color: $text-purple !important;
}

/*=====  End of LEGACY BROWSER PLACEHOLDER  ======*/

.masthead__right-responsive{
	display: none;
	padding-left: 40px;

	@include screen-lt(1250){
		display: inline-block;
		vertical-align: middle;
	}
}
.masthead__right-responsive-link{
	position: relative;
	display: inline-block;
	vertical-align: middle;

	font-family: $brandon;
	font-weight: 900;

	font-size: px-to-ems(15);
	color: white;
	line-height: px-to-ems(15,16);

	text-transform: uppercase;

	@include transition();
	
	&-text{
		display: inline-block;
		vertical-align: bottom;	
	}
	&-hamburger{
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		width: 20px;
		height: 14px;
		margin-left: 6px;
		
		@include transition();
		span{
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: white;
			border-radius: 25%;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			@include transition();
		}
		span:nth-child(1) {
		  top: 0px;
		}

		span:nth-child(2) {
		  top: 5px;
		}

		span:nth-child(3) {
		  top: 10px;
		}
	}

	&.active {
		.masthead__right-responsive-link-hamburger{
			span:nth-child(1) {
			  top: 5px;
			  transform: rotate(135deg);
			  -webkit-transform: rotate(135deg);
			  -moz-transform: rotate(135deg);
			  -o-transform: rotate(135deg);
			  -ms-transform: rotate(135deg);
			}

			span:nth-child(2) {
			  opacity: 0;
			  top: 0px;
			  transform: rotate(135deg);
			  -webkit-transform: rotate(135deg);
			  -moz-transform: rotate(135deg);
			  -o-transform: rotate(135deg);
			  -ms-transform: rotate(135deg);
			  transition: none;
			}

			span:nth-child(3) {
			  top: 5px;
			  transform: rotate(-135deg);			  
			  -webkit-transform: rotate(-135deg);
			  -moz-transform: rotate(-135deg);
			  -o-transform: rotate(-135deg);
			  -ms-transform: rotate(-135deg);
			}
		}
	}

	&:hover{
		color: $primary-yellow;

		.masthead__right-responsive-link-hamburger{
			span{
				background: $primary-yellow;
			}
		}
	}
}

/*=============================================
=            RESPONSIVE NAVIGATION            =
=============================================*/

.responsive-nav-wrapper{
	position: relative;
	height: 100%;
	width: 100%;
}

.masthead__nav-responsive{
	position: fixed;
	top: 80px;
	left: 0;

	width: 100%;
	height: calc(100% - 80px);

	visibility: hidden;
	opacity: 0;
	z-index: 5;

	overflow: scroll;

	text-align: center;

	@include transition();

	&:after{
		content: "";
		position: fixed;
		top: 80px;
		left: 0;
		
		width: 100%;
		height: 100%;

		background-color: $text-blue;
		opacity: 0.95;
		z-index: -5;
	}
}

.masthead__nav-responsive-items{
	margin-top: 10px;
}
.masthead__nav-responsive-items-item{
	margin-top: 35px;
}
.masthead__nav-responsive-items-item-link{
	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(20);
	line-height: px-to-ems(15,20);
	color: white;

	text-transform: uppercase;

	&--button{
		padding: 9px 21px;

		color: $primary-yellow;
		border: 3px solid $primary-yellow;
		
		@include transition();
		
		&:hover{
			background-color: $primary-yellow;
			color: $text-blue;
		}
	}
}
/*=====  End of RESPONSIVE NAVIGATION  ======*/

