<!DOCTYPE HTML>
<html class="no-js" {{ site.language_attributes }}>

    {% include 'html-header.twig' %}

    <body class="{{ body_class }}">
     	{% for block in blocks.layouts %}
            {% if (block.layout) == 'top_drip_form' %}
                {% include 'components/common/top-drip-form.twig' %}
            {% endif %}
        {% endfor %}

        {% include 'components/common/masthead.twig' %}

        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}

        {% include 'components/blocks/acf.twig' %}

        {% include 'components/common/footer.twig' %}

        {% include 'html-footer.twig' %}
	</body>
</html>
