<!DOCTYPE HTML>
<html class="no-js" {{ site.language_attributes }}>

    {% include 'html-header.twig' %}

    <body class="{{ body_class }}">
     	{% include 'components/common/top-drip-form.twig' %}

        {% include 'components/common/masthead.twig' %}
        
        <main class="main constrain">

            <div class="content">
                {% include 'components/blocks/latest-content.twig' %}
            </div><!--
            -->{% include 'components/blocks/sidebar.twig' %}
        </main>

        {% include 'components/blocks/content-grid.twig' %}

        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}
            
        {% include 'components/blocks/bottom-drip-form.twig' %}
         
        {% include 'components/common/footer.twig' %}

        {% include 'html-footer.twig' %}
	</body>
</html>
