<section class="about">
	
	<div class="about__hero">
		
		<div class="about__hero-contentWrapper constrain">

			<h1 class="about__hero-heading">Helping you to stop thinking like a product seller, & start acting like a business owner</h1>
			<p class="about__hero-text">Proin eu lacus ornare neque finibus vehicula commodo vitae nibh. Cras vitae diam faucibus, convallis augue at, tincidunt sem. Quisque pretium, lorem non sagittis consectetur.</p>

		</div><!-- HERO WRAPPER END -->

	</div><!-- HERO END -->

	<div class="about__profiles">

		<div class="about__profiles-contentWrapper constrain">
			
			<ul class="about__profiles-items">
				<li class="about__profiles-items-item">
					
					<div class="about__profiles-items-item-wrapper">
						<img src="{{ assets }}/images/austin-round.png" alt="Austin Brawner" class="about__profiles-items-item-image">

						<div class="about__profiles-items-item-name">Austin Brawner</div>
						<div class="about__profiles-items-item-text">Proin eu lacus ornare neque finibus vehicula commodo vitae nibh. Cras vitae diam faucibus, convallis augue at, tincidunt sem. Quisque pretium, lorem non sagittis consectetur.</div>

						<a href="" class="about__profiles-items-item-link">Work with Austin</a>
					</div>

				</li><!--
				--><li class="about__profiles-items-item">
					
					<div class="about__profiles-items-item-wrapper">
						<img src="{{ assets }}/images/andrew-round.png" alt="Andrew Foxwell" class="about__profiles-items-item-image">

						<div class="about__profiles-items-item-name">Andrew Foxwell</div>
						<div class="about__profiles-items-item-text">Proin eu lacus ornare neque finibus vehicula commodo vitae nibh. Cras vitae diam faucibus, convallis augue at, tincidunt sem. Quisque pretium, lorem non sagittis consectetur.</div>

						<a href="" class="about__profiles-items-item-link">Work with Andrew</a>
					</div>

				</li>
			</ul>

		</div><!-- PROFILES WRAPPER END -->

	</div><!-- PROFILES END -->

</section><!-- ABOUT END -->