<header class="masthead">
    
    <div class="masthead__inner">
        
        <div class="masthead__left">
            <a href="" class="masthead__left-logo"><img src="{{ assets }}/images/websitelogo.png" alt="Ecommerce Influence" class="masthead__left-logo-image"></a>
        </div><!-- LEFT END
        --><div class="masthead__right">

            <nav class="masthead__right-nav">
            
                <ul class="masthead__right-nav-items">
                    
                    <li class="masthead__right-nav-items-item">
                        <a href="" class="masthead__right-nav-items-item-link">About</a>
                    </li><!--
                    --><li class="masthead__right-nav-items-item">
                        <a href="" class="masthead__right-nav-items-item-link">Articles</a>
                    </li><!--
                    --><li class="masthead__right-nav-items-item">
                        <a href="" class="masthead__right-nav-items-item-link">Podcast</a>
                    </li><!--
                    --><li class="masthead__right-nav-items-item">
                        <a href="" class="masthead__right-nav-items-item-link masthead__right-nav-items-item-link--button">Live Workshop</a>
                    </li>

                </ul>

            </nav><!--
            --><div class="masthead__right-search">
                    
                <input type="text" class="masthead__right-search-input" placeholder="Find an article or podcast">

            </div><!--
            --><div class="masthead__right-responsive">
                
                <a href="#" class="masthead__right-responsive-link">
                    <span class="masthead__right-responsive-text">Menu</span><!--
                    --><div class="masthead__right-responsive-link-hamburger">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                </a>

            </div>

        </div><!-- RIGHT END -->

    </div><!-- INNER END -->

</header><!-- HEADER END -->
