<section class="topDripForm">
	<div class="topDripForm__inner">
		
		<div class="topDripForm__content">
			
			<div class="topDripForm__content-title">The Perfect Popup Template</div>
			<div class="topDripForm__content-text">Proin nunc ipsum, pretium in vehicula vitae, tempor nec diam. Vivamus a posuere neque.</div>
			<div class="topDripForm__content-formContainer">
				
				<form class="topDripForm__form">
					
					<div class="topDripForm__form-block">
						<label for="name" class="topDripForm__form-block-label">First name</label>
						<input type="text" name="name" class="topDripForm__form-block-input" placeholder="Joe">
					</div><!--
					--><div class="topDripForm__form-block">
						<label for="email" class="topDripForm__form-block-label">Email address</label>
						<input type="email" name="email" class="topDripForm__form-block-input topDripForm__form-block-input--email" placeholder="your@email.com">
					</div><!--
					--><div class="topDripForm__form-block topDripForm__form-block--button">
						<input type="submit" value="Sign up" class="topDripForm__form-block-button">
					</div>

				</form>

			</div>

		</div><!-- CONTENT END -->
		
		<div class="topDripForm__closeButton">
			
			<div class="topDripForm__closeButton-wrapper">
				<span class="topDripForm__closeButton-line topDripForm__closeButton-line--lineOne"></span>
				<span class="topDripForm__closeButton-line topDripForm__closeButton-line--lineTwo"></span>
			</div>

		</div><!-- CLOSE BUTTON END -->

	</div> <!-- INNER END -->
</section> <!-- TOP DRIP FORM END -->