.contentGrid{

}
.contentGrid__inner{

}

/* ACTION BAR */

.contentGrid__actionBar{

}

/* CONTENT LIST */

.contentGrid__items{

}
.contentGrid__items-item{

}

.contentGrid__items-item-imageWrapper{
	position: relative;
}
.contentGrid__items-item-imageWrapper-sizingImage{

}
.contentGrid__items-item-imageWrapper-image{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: 0 0;
}

.contentGrid__items-item-textWrapper{

}
.contentGrid__items-item-textWrapper-label{
	
}
.contentGrid__items-item-textWrapper-text{
	
}
.contentGrid__items-item-textWrapper-link{
	
}

