/* FORM BLOCK */
.popUpTemplate__wrapper{
	margin-bottom: 30px;
	text-align: right;
}
.popUpTemplate__formBlock{
	position: relative;
	margin: 0;
	margin-top: 45px;
	padding: 56px 32px 8px;
	display: inline-block;
	width: 100%;
	max-width: 760px;

	background-color: $text-blue;
	border-radius: 3px;

	text-align: left;

	//@include screen-lt(1000){
	//	display: none;
	//}

    @include screen-lt(668){
        display: block;
    }
}
.popUpTemplate__formBlock-wrapper{
	position: relative;
	top: -40px;
}
.popUpTemplate__formBlock-top,
.popUpTemplate__formBlock-form{
	display: inline-block;
	vertical-align: bottom;

    @include screen-lt(668){
        display: block;
        width: 100% !important;
        margin-left: 0!important;
    }
}
.popUpTemplate__formBlock-top{
	position: relative;
	width: 51%;

    @include screen-lt(668){
        text-align: center;
    }
}
.popUpTemplate__formBlock-form{
	margin-top: 20px;
	margin-left: 3%;
    vertical-align: middle;
	width: 46%;
}

.popUpTemplate__formBlock-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

    @include screen-lt(668){
        display: block;
    }
}
.popUpTemplate__formBlock-image{
	position: relative;
	display: block;
	max-width: 100%;
}
.popUpTemplate__formBlock-formTitle{
	position: relative;
	margin-top: 6px;
	z-index: 0;

	display: inline-block;

	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(23);
	line-height: px-to-ems(33,23);

	text-transform: capitalize;

	color: white;
}
.popUpTemplate__formBlock-formTitle-text{
	box-shadow: inset 0px -9px 0px 0px $secondary-purple;
}
.popUpTemplate__formBlock-formText{
	position: relative;
	margin-top: 11px;
	z-index: 0;

	display: inline-block;

	font-family: $brandon;
	font-weight: 600;
	font-size: px-to-ems(17);
	line-height: px-to-ems(27,17);

	color: white;
}
.popUpTemplate__formBlock-form-block{
	margin-top: 12px;
	width: 100%;
	max-height: 50px;

	&--button{
		max-height: 60px;
	}
}
.popUpTemplate__formBlock-form-block-input{
	padding-left: 20px;

	width: 100%;
	height: 50px;

	background-color: white;
	border-radius: 3px;

	font-family: $brandon;
	font-weight: 600;
	font-size: px-to-ems(25);
	line-height: px-to-ems(27,25);

	color: $text-blue;

	&::-webkit-input-placeholder{
		color: $text-gray;
	}

	&:-ms-input-placeholder{
		color: $text-gray;
	}

	&::placeholder{
		color: $text-gray;
	}
}
.popUpTemplate__formBlock-form-block-button{
	display: block;
	width: 100%;
	height: 60px;
	padding: 18px 0;

	background-color: $primary-yellow;
	border-radius: 3px;

	text-align: center;
	white-space: normal;

	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(20);
	line-height: px-to-ems(15,20);

	color: $text-blue;

	text-transform: uppercase;
	cursor: pointer;

	@include transition();

	&:hover{
		background-color: $yellow-dark;
	}
}

.popUpTemplate__form-errors {
	color: $primary-red;
	font-size: px-to-ems(16);
	margin-top: 12px;
	font-family: $brandon;
	font-weight: 600;
	display: none;
}
