.relatedContent{
	position: relative;
	padding: 50px 0;

	width: 100%;

	background-color: $light-gray;
}
.relatedContent__inner{
	position: relative;
	width: 100%;
}
.relatedContent__topBar{
	position: relative;

	width: 100%;
}
.relatedContent__topBar-title,
.relatedContent__topBar-pagination{
	display: inline-block;
	vertical-align: middle;

	width: 50%;
}
.relatedContent__topBar-title{
	color: $text-blue;

	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(35);
	line-height: px-to-ems(35,35);
}
.relatedContent__topBar-pagination{
	text-align: right;
}
.relatedContent__topBar-pagination-buttons{
	display: inline-block;
	max-width: 110px;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
}
.relatedContent__topBar-pagination-button{
	position: relative;

	display: inline-block;
	vertical-align: middle;

	border-right: 3px solid $light-gray;

	&:nth-last-child(1){
		border: none;
	}
}
.relatedContent__topBar-pagination-button-link{
	padding: 20px 25px;

	display: block;

	background-repeat: no-repeat;
	background-position: center center;

	cursor: pointer;
	
	&--left{
		background-image: url('../images/leftArrow.svg');

		&--first{
			background-image: url('../images/rightArrow-last.svg');
		}
	}

	&--right{
		background-image: url('../images/rightArrow.svg');

		&--last{
			background-image: url('../images/rightArrow-last.svg');
		}
	}
}