.sidebar{
	position: relative;
	width: 100%;
}
.sidebar__latest{

}
.sidebar__latest-block{
	position: relative;
	padding: 20px;
	
	background-color: white;

	&:nth-child(1){
		padding-top: 0;
	}

	&:nth-child(even){
		background-color: $cloudy-white;
	}
}
.sidebar__latest-block-label{
	position: relative;
	padding: 2px 16px;

	display: inline-block;

	&--episode{
		background-color: $primary-yellow;
		color: $text-blue;
	}
	&--article{
		padding: 1px 16px 3px 24px;

		background-color: $text-blue;
		color: white;

		background-image: url('../images/article.svg');
		background-repeat: no-repeat;
		background-position: left 8px center;
	}
}
.sidebar__latest-block-label-text{
	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(10);
	line-height: px-to-ems(10,10);

	letter-spacing: 1px;
	text-transform: uppercase;
}	
.sidebar__latest-block-title{
	position: relative;
	margin-top: 10px;

	display: block;

	font-family: $brandon;
	font-weight: 600;
	font-size: px-to-ems(23);
	line-height: px-to-ems(27,23);
	color: $text-blue;

	&:hover{
		text-decoration: underline;
	}
}
.sidebar__latest-all{
	display: block;
	margin: 0 auto;
	margin-top: 5px;

	text-align: center;
}
.sidebar__latest-all-link{
	position: relative;

	display: inline-block;
	font-family: $brandon;
	font-weight: bold;
	font-size: px-to-ems(18);
	line-height: px-to-ems(30,18);

	color: $text-blue;

	&:after{
		content: "";
		position: absolute;
		bottom: 5px;
		left: -1%;
		z-index: -1;

		width: 102%;
		height: 5px;

		background-color: $primary-yellow;
	}
}

/* PROFILES */
.sidebar__profiles{
	margin-top: 35px;
	width: 100%;
}
.sidebar__profiles-profile{
	position: relative;
	margin-top: 20px;
	padding: 17px;
	padding-left: 150px;

	width: 100%;

	background-color: $cloudy-white;

	background-repeat: no-repeat;
	background-position: left 10px center;
}
.sidebar__profiles-profile-context{
	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(14);
	line-height: px-to-ems(14,14);

	text-transform: uppercase;

	color: $primary-purple;
}
.sidebar__profiles-profile-name{
	margin-top: 4px;

	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(28);
	line-height: px-to-ems(24,28);

	text-transform: uppercase;

	color: $text-blue;
}
.sidebar__profiles-profile-name-first,
.sidebar__profiles-profile-name-last{
	display: inline-block;
}
.sidebar__profiles-profile-name-last{
	position: relative;
	z-index: 0;

	&:after{
		content: "";
		position: absolute;
		bottom: -2px;
		left: -2%;
		z-index: -1;

		width: 104%;
		height: 12px;

		background-color: $primary-yellow;
	}
}