.stories{
	position: relative;
	width: 100%;

	background-color: $light-gray;
}

.stories__top,
.stories__bottom{
	position: relative;
	width: 100%;
}
.stories__top-contentWrapper{
	margin: 0 auto;
	padding: 25px 0 55px 0;
	max-width: 760px;

	text-align: center; 

	@include transition();

	@include screen-lt(600){
		padding: 25px 0 15px 0;
	}
}
.stories__top-heading{
	margin: 0 auto;

	width: 100%;
	max-width: 660px;

	color: $text-blue;

	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(35);
	line-height: px-to-ems(50,35);
}
.stories__top-text{
	margin-top: 15px;

	color: $dark-gray;

	font-family: 'Spectral', $brandon;
	font-weight: normal;
	font-size: px-to-ems(20);
	line-height: px-to-ems(29,20);
}

.stories__bottom-contentWrapper{
	margin: 0 auto;
	padding: 20px 0 100px;

	width: 90%;

	@include transition();

	@include screen-lt(600){
		padding: 15px 0;
	}
}
.stories__bottom-carousel{
	position: relative;
}
.stories__bottom-carousel-item{
	margin: 0 20px;

	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.27), 0 4px 12px 0 rgba(0,0,0,0.04);
	border-radius: 3px;

	@include transition();

	@include screen-lt(600){
		margin: 0 8px;
	}
}
.stories__bottom-carousel-item-contentWrapper{
	padding: 0 50px 40px 50px;
	width: 100%;

	@include transition();

	@include screen-lt(600){
		padding: 0 20px 20px 20px;
	}
}
.stories__bottom-carousel-item-text{
	margin-top: 15px;

	color: $dark-gray;

	font-family: 'Spectral', $brandon;
	font-weight: normal;
	font-size: px-to-ems(22);
	line-height: px-to-ems(31,22);

	@include transition();

	@include screen-lt(600){
		font-size: 100%;
	}
}
.stories__bottom-carousel-item-details{
	margin-top: 15px;

	color: $text-blue;

	font-family: $brandon;
	font-weight: 900;
	font-size: px-to-ems(22);
	line-height: px-to-ems(31,22);

	@include transition();

	@include screen-lt(600){
		font-size: 100%;
	}
}

.stories__bottom-carousel-item-imageWrapper{
	position: relative;
	top: -25px;
	
	display: block;
	width: 90px;
	height: 90px;      /* equals max image height */

    white-space: nowrap;
    font-size: 0;
}
.stories__bottom-carousel-item-picture{
	position: absolute;
	top: 0;
	left: 0;
	
	width: 90px;
	height: 90px;

	border-radius: 50%;
}
.stories__bottom-carousel-item-logo{
	position: relative;
	margin-top: -25px;
	padding: 15px;
	
	display: block;
	max-width: 200px;
	max-height: 90px;

	background: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.27), 0 4px 12px 0 rgba(0,0,0,0.04);
	border-radius: 8px;
}

/* SLICK REDESIGN */

.slick-track{
	padding: 5px 0;
}
div.slick-list{
	padding-top: 25px;
}
div.slick-slide:focus{
	outline: none;
}

.stories__bottom-buttonsWrapper{
	position: relative;
	margin: 0 auto;
	margin-top: 40px;

	display: block;
	width: 100%;

	text-align: center;

	@include transition();

	@include screen-lt(600){
		margin-top: 15px;
	}
}
.stories__bottom-buttons{
	display: inline-block;
	max-width: 110px;

	background: white;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.06), 0 1px 3px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
}
.stories__bottom-buttons-button{
	position: relative;

	display: inline-block;
	vertical-align: middle;

	border-right: 3px solid $light-gray;

	&:nth-last-child(1){
		border: none;
	}
}
.stories__bottom-buttons-button-link{
	padding: 20px 26px;

	display: block;

	background-repeat: no-repeat;
	background-position: center center;

	cursor: pointer;

	@include transition();
	
	&--left{
		background-image: url('../images/leftArrow.svg');

		&--first{
			background-image: url('../images/leftArrow-last.svg');
		}
	}

	&--right{
		background-image: url('../images/rightArrow.svg');

		&--last{
			background-image: url('../images/rightArrow-last.svg');
		}
	}

	&:hover{
		background-color: $cloudy-white;
	}
}