$base-font: 16; 

/* COLORS */
$text-blue: #2F3D65;
$light-blue: #3F5286;
$dark-blue: #212F55;

$text-purple: #AAB4D1;
$primary-purple: #8797C3;
$secondary-purple: #435485;

$primary-yellow: #FFF477;
$secondary-yellow: #FCF8BF;
$yellow-dark: #ccc35f;

$primary-red: #e74c3c;

$cloudy-white: #F9F9F9;
$light-gray: #F5F5F5;
$gray: #E0E0E0;
$text-gray: #B4B4B4;
$bg-gray: #F1F1F1;
$dark-gray: #3E3E3E;
