{% extends "base.twig" %}

{% block content %}

 	<main class="main constrain">

        <section class="content">
            {% include 'components/blocks/episode.twig' %}
            {% include 'components/blocks/pop-up-form.twig' %}
        </section><!--
        --><section class="pages-sidebar">
        	{% include 'components/blocks/sidebar.twig' %}
        </section>

	</main>
	
	{% include 'components/blocks/related.twig' %}

{% endblock %}
