{% extends "base.twig" %}

{% block content %}

 	<main class="main constrain">

        <section class="content">
            {% include 'components/blocks/latest-content.twig' %}
        </section><!--
        --><section class="homePage-sidebar">
        	{% include 'components/blocks/sidebar.twig' %}
        </section>

	</main>
	
	{% include 'components/blocks/content-grid.twig' %}

	{% include 'components/blocks/bottom-drip-form.twig' %}

{% endblock %}
